{% load static %}
<html>
<head>
	<link href = "//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel = "stylesheet" type = "text/css">
	<link rel = "stylesheet" href = "{% static 'css/blog.css' %}">
	<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<title>
		Let it go!
	</title>
</head>

<body>
	<div class = "page-header">
		<h1>
			<a href = "/">Django Girls Blog</a>
		</h1>
	</div>
<!--
{{ posts }}
<div class = "content container">
	<div class = "row">
		<div class = "col-md-8">
-->
			{% block content %}
				{% for post in posts %}
					<div class = "post">
						<div class = "date">
							<p>Created: {{ post.created_date }}</p>
							<p>Published: {{ post.published_date }}</p>
						</div>
						<h1><a href =  "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
						<p>{{ post.text|linebreaksbr }}</p>
					</div>
				{% endfor %}
			{% endblock %}
<!--
		</div>
	</div>
</div>
-->
<!--
	<div>
		<p>
			published : march.1st.2019
		</p>
		<h2>
			<a href = "">My 1st post<a>
		</h2>
		<p>
			Hello world. It's good for me
		</p>
	</div>
	<div>
		<h2>
			<a href = "">This is 2nd post!!!<a>
		</h2>
		<p>Hi there!!!</p>
		<p>I love you so much</p>
	</div>
-->
</body>
</html>
