h1 a {
	color : #ffffff;
	font-family : 'Lobster';
	font-size : 60pt;
}

body {
	padding-left : 15px
}
.page-header{
	background-color : #ff9400;
	margin-top : 0;
	padding : 10px 200px 20px 200px;
}


.page-header h1, .page=header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
	color : #00ff00;
	font-size : 36pt;
	text-decoration : none;
}

.content {
	margin-left : 40px;
}

.h1, h2, h3 h4 {
	font-family : 'Lobster', cursive;
}

.date {
	color : #8000ff
}

.save{
	float : right;
}

.post-form textarea, .post-form input{
	width : 20%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
	color : #ffffff;
	float : right;
	font-size : 26pt;
	margin-left : 20px;
}

.post {
	margin-bottom : 100px;
	margin-left : 300px;
}

.post h1 a, .post h1 a:visited {
	color : #ff80c0
}




